.speech {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 26;
}

.direction {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: aquamarine;
    font-size: 28;
}
.direction:hover {
    background-color: antiquewhite;
    color: black;
}



.LUKE {
    color: rgb(0, 60, 255);
}

.REVENUE {
    color: rgb(255, 137, 47);
}

table,
th,
td {
    border: 2px solid;
    text-align: center;
    border-radius: 1px;
    width: 10%;

}

table {
    padding: 5px;
    margin: 20px;
    width: 60%;
}

th {
    color: rgb(112, 136, 216);
    font-weight: bold;
    height: 70px;

}

td {
    color: rgb(204, 60, 50);
    border: 1px solid;
    height: 30px;

}
tr:nth-child(even) {
    background-color: rgb(220, 239, 245);
}
 .LUKE:hover {
    background: rgb(228, 220, 245);
    color: rgb(100, 100, 211);
    text-shadow: 5px 5px #baa9a9;
    border: rgb(237, 100, 100);
}

.REVEN:hover {
    background: rgb(180, 230, 176);
    color: rgb(219, 52, 133);
    text-shadow: 5px 5px #443535;
    border: rgb(241, 51, 152);
}
