.speech {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 26;
}

.direction {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: aquamarine;
    font-size: 28;
}
.direction:hover {
    background-color: antiquewhite;
    color: black;
}



.LUKE {
    color: rgb(0, 60, 255);
}

.REVENUE {
    color: rgb(255, 137, 47);
}
